BraveSoftware/Brave-Browser/Crash Reports
BraveSoftware/Brave-Browser/Crowd Deny/2024.4.15.1148
BraveSoftware/Brave-Browser/Default
BraveSoftware/Brave-Browser/Dictionaries
BraveSoftware/Brave-Browser/FileTypePolicies/67
BraveSoftware/Brave-Browser/GrShaderCache
BraveSoftware/Brave-Browser
Code/Cache/Cache_Data
Code
Logseq
Luna Modeler
LunaModeler
Postman
PostmanAgent
RedisInsight
Thunar
XMind
autostart
configstore/update-notifier-@docusaurus
dconf
enchant
eog
evolution/sources
fehRandom
flameshot
gedit
gnome-control-center/backgrounds
go/telemetry/local
google-chrome
gtk-2.0
gtk-3.0
htop
ibus/bus
ibus/bus
lazygit
libreoffice/4/user
menus
nautilus
nitrogen
nvim-bak/nvim
obsidian
pgadmin
pgadmin4
pulse
remmina
simple-update-notifier
systemd/user
terminator
totem
vlc
vscode-sqltools
